<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="employee" class="com.test.autowire.Employee" autowire="byName">
   	<property name="id" value="12345"></property>
   	<property name="name" value="Tom"></property>
   	<property name="designation" value="Software Engineer"></property>
   </bean>
	
   <bean id="address" class="com.test.autowire.Address">
   		<property name="streetNumber" value="123"></property>
   		<property name="city" value="Atlanta"></property>
   		<property name="zip" value="30003"></property>
   		<property name="state" value="GA"></property>
   </bean>
</beans>
